@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: "msyi";
    src: url("../fonts/msyi.ttf");
}

@font-face {
    font-family: "arialbd";
    src: url("../fonts/arialbd.ttf");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
    position: relative;
}

/* header */

header {
    background-color: #6DE5D1;
}

header nav div#menu-deploy{
    display: none;
}

header h1 {
    font-family: "msyi";
    font-size: 38px;
    letter-spacing: 4px;
    text-align: center;
}

header div#menu .icon-bars-solid {
    font-size: 23px;
    text-align: right;
    color: #6DE5D1;
    cursor: pointer;

    -webkit-text-stroke: 1px #444444;
    -moz-text-stroke: 1px #444444;
    -ms-text-stroke: 1px #444444;
    -o-text-stroke: 1px #444444;
}

header div#user-shopbag .icon-user-alt-solid,
header div#user-shopbag .icon-shopping-bag-solid {
    font-size: 20px;
    text-align: right;
    color: #6DE5D1;
    cursor: pointer;

    -webkit-text-stroke: 1px #444444;
    -moz-text-stroke: 1px #444444;
    -ms-text-stroke: 1px #444444;
    -o-text-stroke: 1px #444444;
}

/* buscador */

main section div#buscador {
    border-bottom: 1px solid #A7A7A7;
}

main section div#buscador input{
    font-size: 16px;
    border: 0;
    outline: none;
}

main section div#buscador input::placeholder {
    color: #A7A7A7;
}

main section div#buscador div#lupa {
    font-size: 17px;
    cursor: pointer;
}

/* primer slider */

main section#primerSlider .circuloSlider .fa-circle {
    font-size: 13px;
    cursor: pointer;
}

/* slider marcas */

main section#sliderMarcas .flechas .icon-angle-left-solid,
main section#sliderMarcas .flechas .icon-angle-right-solid {
    font-size: 25px;
    color: white;
    cursor: pointer;

    -webkit-text-stroke: 1px #444444;
    -moz-text-stroke: 1px #444444;
    -ms-text-stroke: 1px #444444;
    -o-text-stroke: 1px #444444;
}

main section#sliderMarcas button {
    font-size: 14px;
    color: #444444;
    background-color: #6DE5D1;
    border-radius: 50px;
    border: 0;
    outline: none;
    cursor: pointer;
}

/* categorías */

main section#categorias .tituloCategoria {
    font-family: "arialbd";
    font-size: 30px;
    color: white;

    -webkit-text-stroke: 1px #444444;
    -moz-text-stroke: 1px #444444;
    -ms-text-stroke: 1px #444444;
    -o-text-stroke: 1px #444444;
}


/* media queries */

@media screen and (min-width: 576px) {
    /* header */

    header nav div#menu .icon-bars-solid {
        font-size: 25px;
    }

    header div#user-shopbag .icon-user-alt-solid,
    header div#user-shopbag .icon-shopping-bag-solid {
        font-size: 21px;
    }

    /* primer slider */

    main section#primerSlider .circuloSlider .fa-circle {
        font-size: 15px;
        cursor: pointer;
    }

    /* slider marcas */

    main section#sliderMarcas .flechas .icon-angle-left-solid,
    main section#sliderMarcas .flechas .icon-angle-right-solid {
        font-size: 28px;
    }

    main section#sliderMarcas button {
        font-size: 15px;
    }
}

@media screen and (min-width: 992px) {
    /* header */

    header h1 {
        font-size: 45px;
        letter-spacing: 5px;
    }

    header div#user-shopbag .icon-user-alt-solid,
    header div#user-shopbag .icon-shopping-bag-solid {
        font-size: 23px;
    }

    header ul .list-group-item{
        border: none;
        background-color: #6DE5D1;
    }

    header ul .list-group-item a{
        font-size: 16px;
        color: #444444;
        text-decoration:none;
        cursor: pointer;
    }
}