@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url("../fonts/RobotoCondensed-Bold.ttf");
}

@font-face {
    font-family: "RobotoCondensed-Light";
    src: url("../fonts/RobotoCondensed-Light.ttf");
}

@font-face {
    font-family: "msyi";
    src: url("../fonts/msyi.ttf");
}

@font-face {
    font-family: "arialbd";
    src: url("../fonts/arialbd.ttf");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
    position: relative;
}

/* header */

header {
    background-color: #6DE5D1;
}

header .anchoSecciones nav div#menu-deploy{
    display: none;
}

header .anchoSecciones h1 {
    font-family: "msyi";
    font-size: 38px;
    letter-spacing: 4px;
    text-align: center;
}

header .anchoSecciones div#menu .icon-bars-solid {
    font-size: 23px;
    text-align: right;
    color: #6DE5D1;
    cursor: pointer;

    -webkit-text-stroke: 1px #444444;
    -moz-text-stroke: 1px #444444;
    -ms-text-stroke: 1px #444444;
    -o-text-stroke: 1px #444444;
}

header .anchoSecciones div#user-shopbag .icon-user-alt-solid,
header .anchoSecciones div#user-shopbag .icon-shopping-bag-solid {
    font-size: 20px;
    text-align: right;
    color: #6DE5D1;
    cursor: pointer;

    -webkit-text-stroke: 1px #444444;
    -moz-text-stroke: 1px #444444;
    -ms-text-stroke: 1px #444444;
    -o-text-stroke: 1px #444444;
}

/* buscador */

main section div#buscador {
    border-bottom: 1px solid #A7A7A7;
}

main section div#buscador input{
    font-size: 16px;
    border: 0;
    outline: none;
}

main section div#buscador input::placeholder {
    color: #A7A7A7;
}

main section div#buscador div#lupa {
    font-size: 17px;
    cursor: pointer;
}

/* primer slider */

main section#primerSlider .circuloSlider .fa-circle {
    font-size: 13px;
    cursor: pointer;
}

/* slider marcas */

main section#sliderMarcas .flechas .icon-angle-left-solid,
main section#sliderMarcas .flechas .icon-angle-right-solid {
    font-size: 25px;
    color: white;
    cursor: pointer;

    -webkit-text-stroke: 1px #444444;
    -moz-text-stroke: 1px #444444;
    -ms-text-stroke: 1px #444444;
    -o-text-stroke: 1px #444444;
}

main section#sliderMarcas .flechas .icon-angle-left-solid:hover,
main section#sliderMarcas .flechas .icon-angle-right-solid:hover {
    color:  #444444;
}

main section#sliderMarcas button {
    font-size: 14px;
    color: #444444;
    background-color: #6DE5D1;
    border-radius: 50px;
    border: 0;
    outline: none;
    cursor: pointer;
}

/* top ventas y novedades*/

main .topVentasNovedades h2 {
    font-family: "arialbd";
    font-size: 16px;
    text-align: center;
}

main .topVentasNovedades .containerProducto {
    border: 1px solid #A7A7A7;
    border-radius: 5px;
    cursor: pointer;
}

main .topVentasNovedades .containerProducto:hover {
    -webkit-box-shadow: 0px 0px 15px #A7A7A7;
    -moz-box-shadow: 0px 0px 15px #A7A7A7;
    -ms-box-shadow: 0px 0px 15px #A7A7A7;
    -o-box-shadow: 0px 0px 15px #A7A7A7;
}

main .topVentasNovedades .containerProducto a {
    text-decoration: none;
}

main .topVentasNovedades .containerProducto .marcaProducto {
    font-family: "RobotoCondensed-Regular";
    font-size: 16px;
    text-align: center;
    color: #444444;
}

main .topVentasNovedades .containerProducto .tituloProducto {
    font-family: "RobotoCondensed-Light";
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #444444;
}

main .topVentasNovedades .containerProducto .precioProducto {
    font-family: "arialbd";
    font-size: 15px;
    text-align: center;
    color: #444444;
}

main .topVentasNovedades .containerProducto .botonProductoCarrito {
    text-align: center;
    border-top: 1px solid #A7A7A7;
    cursor: pointer;
}

main .topVentasNovedades .containerProducto .botonProductoCarrito:hover {
    border: 1px solid #6DE5D1;
    background-color: #6DE5D1;
}

main .topVentasNovedades .containerProducto .botonProductoCarrito a {
    font-family: "arialbd";
    font-size: 13px;
    color: #444444;
    text-decoration: none;
}

/* newsletter */

section#newsletter {
    background-color: #F1F1F1;
}

section#newsletter .icon-paper-plane-regular {
    font-size: 28px;
}

section#newsletter p {
    font-family: "arialbd";
    font-size: 16px;
}

section#newsletter button {
    font-size: 14px;
    color: #444444;
    background-color: #6DE5D1;
    border-radius: 50px;
    border: 0;
    outline: none;
    cursor: pointer;
}

/* más info de la web */

section#masInfo .icon-angle-down-solid {
    font-size: 23px;
    color: white;
    cursor: pointer;

    -webkit-text-stroke: 1px #444444;
    -moz-text-stroke: 1px #444444;
    -ms-text-stroke: 1px #444444;
    -o-text-stroke: 1px #444444;
}

section#masInfo .icon-angle-down-solid:hover {
    color: #444444;
}

section#masInfo .menuInfoDeploy {
    display: none;
}

section#masInfo .menuInfoDeploy li,
section#masInfoLaptop .menuInfoLaptop li {
   list-style: none;
}

section#masInfo .menuInfoDeploy a,
section#masInfoLaptop .menuInfoLaptop a {
    font-size: 15px;
    color: #444444;
    cursor: pointer;
    text-decoration: none;
}

section#masInfo .menuInfoDeploy .tituloInfo a,
section#masInfoLaptop .menuInfoLaptop .tituloInfo a {
    font-family: "arialbd";
    color: #444444;
    cursor: pointer;
}

/* footer */

footer {
    background-color: #6DE5D1;
}

footer .anchoSecciones .icon-facebook-square-brands,
footer .anchoSecciones .icon-instagram-square-brands,
footer .anchoSecciones .icon-twitter-square-brands {
    font-size: 30px;
    text-align: right;
    color: #444444;
    cursor: pointer;
}


/* media queries */

@media screen and (min-width: 576px) {
    /* header */

    header .anchoSecciones nav div#menu .icon-bars-solid {
        font-size: 25px;
    }

    header .anchoSecciones div#user-shopbag .icon-user-alt-solid,
    header .anchoSecciones div#user-shopbag .icon-shopping-bag-solid {
        font-size: 21px;
    }

    /* primer slider */

    main section#primerSlider .circuloSlider .fa-circle {
        font-size: 15px;
        cursor: pointer;
    }

    /* slider marcas */

    main section#sliderMarcas .flechas .icon-angle-left-solid,
    main section#sliderMarcas .flechas .icon-angle-right-solid {
        font-size: 28px;
    }

    /* top ventas */

    main section#topVentas h2 {
        font-size: 18px;
    }
}

@media screen and (min-width: 992px) {
    /* header */

    header .anchoSecciones {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    header .anchoSecciones h1 {
        font-size: 45px;
        letter-spacing: 5px;
    }

    header .anchoSecciones div#user-shopbag .icon-user-alt-solid,
    header .anchoSecciones div#user-shopbag .icon-shopping-bag-solid {
        font-size: 23px;
    }

    header .anchoSecciones ul .list-group-item{
        border: none;
        background-color: #6DE5D1;
    }

    header .anchoSecciones ul .list-group-item a{
        font-size: 16px;
        color: #444444;
        text-decoration:none;
        cursor: pointer;
    }

    /* main */

    main {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    /* top ventas */

    main section#topVentas .containerProducto .botonProductoCarrito a {
        font-size: 14px;
    }

    /* más info de la web */

    section#masInfoLaptop {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    /* footer */

    footer .anchoSecciones {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}